body {
  font-family: 'Lato', sans-serif;
  color: #665;
  font-weight: 300;
}

.text-muted {
  color: #BBB;
}

.text-thin {
  font-weight: 100;
}

.title-logo {
  margin-top: 20px;
}

.title-text {
  font-size: 60px;
}
